body {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: 150% 200%;
  font-family: "Poppins", sans-serif;
}
h1 {
  padding-top: 10px;
  font-size: 45px;
}
h2 {
  font-size: 80px;
  text-align: left;
}
ul {
  font-size: 18px;
  font-style: italic;
  opacity: 0.8;
  list-style: none;
  text-align: center;
}
hr {
  margin: 0 auto;
  opacity: 0.4;
}
.container {
  margin-top: 100px;
}
.card {
  max-width: 800px;
  margin: 0 auto;
  color: #424d5f;;
  padding: 40px 25px 10px;
  border: none;
  box-shadow: 5px 5px 10px rgb(107, 111, 116, 0.5);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  
}
.city-exemple {
  text-align: center;
  margin-bottom: 15px;
}
.city-name {
  text-decoration: none;
  color: #0a3750;
  font-weight: bolder;
}
.city-name:hover {
  color: #0a3850d3;
  font-size: large;
}
.enter-city {
  font-size: 15px;
  font-style: italic;
  background: rgba(255, 255, 255);
}

.search {
  background: #666f7ef1;
  border: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 5px;
  
}
.search:hover {
  opacity: 0.8;
}
.current {
  background: #304a5e;
  border: none;
  padding: 6px 10px;
  color: #fff;
  border-radius: 5px;
}
.current:hover {
  opacity: 0.8;
}
.celsium {
  font-size: 35px;
  position: relative;
  bottom: 20px;
  font-style: italic;
}

.weather-icon {
  font-size: 20px;
  margin-button: 30px;
}
.specialty-forecasts {
  text-align: center;
}
.specialty-forecasts-element {
  text-decoration: none;
  color: #ec6f4c;
  font-weight: bold;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
.specialty-forecasts-element:hover {
  color: #ec6f4cbb;
  font-size: 22px;
}
.weather-forecast {
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
}
.next-day-forecast {
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  
}
.next-day-forecast:hover {
  background: #f7feff6e;
  border-radius: 10px;
}
.github-description {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #eaebf7;
}
.github-link {
  text-decoration: none;
  color: #eaebf7;
  text-decoration: underline;
}
.github-link:hover {
  color: #eaebf7bd ;
}
.next-hours {
  color: #424d5f;

}
.next-hours:hover {
  color: #424d5fb6;

}
.weather-forecast-date {
  padding: 15px 5px 0px;
  font-weight: bold;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}
